:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #23252C;
}
.info{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info--name{
  font-size: 25px;
  margin-bottom: 0px;
}
.info--job{
  color: #F3BF99;
  font-size: 13px;
  margin-bottom: 0px;
  
}
.info--website{
  font-size: 11px;
}
button{
  height: 34px;
  width: 115px;
  margin-inline: 10px;
  border-radius: 6px;
  border: none;
  align-items: center;
  cursor: pointer;
  
}
.info--linkedin{
  background: #5093E2;
  color: white;
}
.about{
  margin-inline: 30px;
}
.about>h3{
  color: #F5F5F5;
}
.about>p{
  color: #DCDCDC;
  font-size: 11px;
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 64px;
  background-color: #161619;
}

